{% extends 'baseRiskAssessment.html' %}


{% block content %}

<h1>Risk Assessment List Page</h1>
<br>
<br>
<table class="table" style="width: 100%;">
    <thead>
      <tr>
        <th width="30%" scope="col">Title</th>
        <th width="30%" scope="col">Owner</th>
        <th width="30%" scope="col">Date Created</th>
        <th width="10%" scope="col"> </th>
      </tr>
    </thead>
</table>
<div style="width:100%; overflow:auto; max-height:500px;">
    <table class="table">
        <tbody>
        {% for riskAssessment in riskAssessmentList %}
            <tr>
                <td width="30%">
                    {{riskAssessment.title}}
                </td>
                <td width="30%">
                    {{riskAssessment.owner.first_name}} {{riskAssessment.owner.last_name}}
                </td>
                <td width="30%">
                    {{riskAssessment.creationDate}}
                </td>
                <td width="10%">
                    <a class="btn btn-success btn-sm" href="{% url 'specificRiskAssessment' riskAssessment.id %}" 
                    role="button">
                        View
                    </a>
                    <a class="btn btn-primary btn-sm" href="{% url 'editRiskAssessment' riskAssessment.id %}" 
                    role="button">
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}