<style>
    .django-ckeditor-widget{
        width: 100%;
      }
</style>

{% extends 'baseSOP.html' %}

{% load crispy_forms_tags %}


{% block leftSide %}
<h5>Trainers</h5>
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <button type="button" hx-get="{% url 'create-SOPTrainer-form' SOPModel.id %}" 
                    hx-target="#trainerforms" hx-swap="beforeend" class="btn btn-primary btn-sm">
                        Add Trainer
                    </button>
                    <br>
                    {% for trainer in trainerList %}
                        {% include 'SOPtrainer_detail.html'%}
                    {% endfor %}
                    <div id="trainerforms"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<h5>Trained Personnel</h5>
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <button type="button" hx-get="{% url 'create-SOPTrainee-form' SOPModel.id %}" 
                    hx-target="#traineeforms" hx-swap="beforeend" class="btn btn-primary btn-sm">
                        Add Trainee
                    </button>
                    <br>
                    {% for trainee in traineeList %}
                        {% include 'SOPtrainee_detail.html'%}
                    {% endfor %}
                    <div id="traineeforms"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.media }}
    <div class="fieldWrapper">
        {{ form.title |as_crispy_field}}
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col">
                        <h4>Attached Files</h4>
                        <br>
                        <button type="button" hx-get="{% url 'create-attachment-form_SOP' SOPModel.id %}" 
                        hx-target="#fileattachmentforms" hx-swap="beforeend" class="btn btn-success">
                            Add
                        </button>
                        {% for linkedAttachment in SOPModelAttachments %}
                            <div class="row align-items-start">
                                <div class="col">
                                    {% include 'attachedFiles_SOP_details.html'  %}
                                </div>
                            </div>
                        {% endfor %}
                        <div id="fileattachmentforms"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="fieldWrapper">
        {{ form.documentBody}}
    </div>
    <br>
    <button type="submit" name="save" value="True" class="btn btn-success">Save</button>
    <button type="submit" name="exit" value="True" class="btn btn-danger">Exit</button>
     
</form>



{% endblock %}