{% extends 'baseSupplier.html' %}

{% load crispy_forms_tags %}

{% block content %}


<h1>Supplier List Page</h1>
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#supplierModal">
    New Supplier
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="supplierModal" tabindex="-1" aria-labelledby="supplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="supplierModalLabel">New Supplier</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" hx-post="{% url 'createSupplierHTMX'%}" hx-target="#supplierListing" hx-swap="beforebegin">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">
            Save
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
<br>
<table class="table" style="width: 100%;">
    <thead>
      <tr>
        <th width="10%" scope="col">Name</th>
        <th width="20%" scope="col">Website</th>
        <th width="15%" scope="col">Phone Number</th>
        <th width="20%" scope="col">Email Address</th>
        <th width="20%" scope="col">Contact Name</th>
        <th width="15%" scope="col"></th>
      </tr>
    </thead>
</table>
<div style="width:100%; overflow:auto; max-height:500px;">
    <table class="table">
        <tbody>
        {% for supplier in supplierList %}
            {% include 'supplier_details.html'  %}
        {% endfor %}
        <tr id="supplierListing"></tr>
        </tbody>
    </table>
</div>

{% endblock %}