{% extends 'baseEquipment.html' %}

{% load crispy_forms_tags %}

{% block content %}


<h1>Equipment List Page</h1>
<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#equipmentModal">
    New Equipment
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="equipmentModal" tabindex="-1" aria-labelledby="equipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="equipmentModalLabel">New Equipment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" hx-post="{% url 'createEquipmentHTMX'%}" hx-target="#equipmentListing" hx-swap="beforebegin">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">
            Save
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>

<br>
<table class="table" style="width: 100%;">
    <thead>
      <tr>
        <th width="20%" scope="col">Name</th>
        <th width="45%" scope="col">Description</th>
        <th width="20%" scope="col">Responsible</th>
        <th width="15%" scope="col"></th>
      </tr>
    </thead>
</table>
<div style="width:100%; overflow:auto; max-height:500px;">
    <table class="table">
        <tbody>
        {% for equipment in equipmentList %}
            {% include 'equipment_details.html'  %}
        {% endfor %}
        <tr id="equipmentListing"></tr>
        </tbody>
    </table>
</div>

{% endblock %}