<tr hx-target="this" hx-swap="outerHTML">
    <td width="15%">
        {{location.name}}
    </td>
    <td width="70%">
        {{location.description}}
    </td>

    <td width="15%">
        <a class="btn btn-info btn-sm" href="{% url 'specificLocation' location.id %}">
            View
        </a>
        <a class="btn btn-primary btn-sm" href="{% url 'editLocation' location.id %}">
            Edit
        </a>
        <a class="btn btn-danger btn-sm" hx-post="{% url 'deleteLocationHTMX' location.id %}">
            Delete
        </a>
    </td>

</tr>