{% extends 'baseHomePage.html' %}

{% block content %}

<h1> Home Page </h1>

<p> This project is the combination of an Electronic Laboratory Notebook system and an Electronic Inventory Management system.</p>


<p>The Inventory sub-system allows for the creation of Item Categories, Items, Suppliers, Stock and Stock Location. 
    The workflow from having nothing in the system to inputing your inventory stock items should be as follows:</p>
<ol>
    <li>Create all <b>locations</b> where stock is present at your laboratory/workshop.</li>
    <li>Create all item <b>categories</b> which you will use to group different items together.</li>
    <li>Create all <b>suppliers</b> used to purchase/acquire the stock of items you will want to input on the system.</li>
    <li>Create all the specific <b>items</b> stocked at your laboratory/workshop.</li>
    <li>Create specific <b>supplier items</b>, as to link the previously created suppliers with the newly created items</li>
    <li>Create each individual <b>stock</b> listing, which will refer to a specific supplier item. Input minimum quantities if needed.</li>
</ol>

<p>Additionally, the user may differentiate between item stock and samples if needed. 
    A similar process for sample creation is performed, but with sample type and specific sample instead.</p>

<p> Equipment used at the facility can be created in the database using the appropriate <b>Equipment</b> link at the navigation bar</p>

<p>The Electronic Laboratory Notebook system enables the creation of three types of documents at the moment:</p>
<ul>
    <li>Standard Operating Protocols (SOPs)</li>
    <li>Risk Assessments (RAs)</li>
    <li>Laboratory Reports, which are grouped by specific projects/teams</li>
</ul>

<p>To create a report, <b>create the project/team</b> to which it belongs to. 
    Following this, navigate to the project page using the dropdown <b>Projects</b> and select the created project.</p>

<p>The laboratory reports can be linked with other items present in the database (visible in the edit view), 
    such as specific stock, samples, equipments, other reports and SOPs. These can also be tagged with specific 
    keywords for filtering.</p>

{% endblock %}